<nav class="navbar bg-success-subtle">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="https://i.imgur.com/s8KX9LO.png" alt="La Lucha" width="45" height="35">
        </a>
        <a class="navbar-brand" href="{% url 'home_g' %}">
            <img src="https://i.imgur.com/EqRsMM6.png" alt="Ganaderia" width="45" height="35">
        </a>
        <div class="d-flex ms-auto">
            {% if user.is_authenticated %}
            <span class="navbar-brand text-body-tertiary">{{ user.get_username }}</span>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">Cerrar sesión</button>
            </form>
            {% endif %}
        </div>
    </div>
</nav>